<div class="container">
  <h2 class="text-center">Would you like to try?</h2>
  <form #postForm="ngForm" (ngSubmit)="onSubmit(); postForm.reset()">
    <div class="form-group">
      <label for="author">Your name</label>
      <input
        type="text"
        class="form-control"
        id="author"
        [(ngModel)]="post.author"
        name="author"
        required
        #author="ngModel"
      />
    </div>
    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
      Author name is required
    </div>
    <div class="form-group">
      <label for="email">Your email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        [(ngModel)]="post.email"
        name="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #email="ngModel"
      />
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      <div *ngIf="email.errors?.required">
        Email is required
      </div>
      <div *ngIf="email.errors?.pattern">Please enter correct email format</div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="post.title"
        name="title"
        required
        minlength="2"
        maxlength="30"
        #title="ngModel"
      />
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      <div *ngIf="title.errors?.required">
        Title is required
      </div>
      <div *ngIf="title.errors?.minlength">
        Title must be 3-30 symbols
      </div>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        rows="10"
        [(ngModel)]="post.content"
        name="content"
        required
        #content="ngModel"
      ></textarea>
    </div>
    <div
      [hidden]="content.valid || content.pristine"
      class="alert alert-danger"
    >
      Content is required
    </div>

    Check form updates:
    <pre>{{ post | json }} <br /></pre>
    <pre>{{ postForm.value | json }}</pre>
    <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessage">
      {{ serverErrorMessage }}
    </div>

    <div class="row">
      <div class="col-2">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!postForm.valid"
        >
          Submit
        </button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light" (click)="postForm.reset()">
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
